Options +FollowSymLinks
RewriteEngine on
RewriteRule    ^$    webroot/    [L]
RewriteRule    (.*) webroot/$1    [L]

RewriteEngine On
RewriteBase /
RewriteRule (.*) webroot/$1 [QSA,L]

####RewriteEngine On
####RewriteCond %{REQUEST_FILENAME} !-d
####RewriteCond %{REQUEST_FILENAME} !-f
####RewriteRule ^(.*)$ webroot/index.php/$1 [QSA,L]